<a href="https://colab.research.google.com/github/Taweechokk/INC492/blob/main/Pandas_Exercise_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INC492: Introduction to Data Science**

Week02 - Python for Data Science
-----------------------------------
Dr. Teema Leangarun

Department of Controls System and Instrumentation Engineering

Facullty of Engineering, KMUTT

Student name: xxxxxxxxx

Student ID: xxxxxxxxxx

#Pandas Exercise

##Exercise 1
Write a Pandas program to add, subtract, multiple, divide and compare two Pandas Series.<br>
Given Series:
```
series_1 = [92, 82, 44, 79, 58, 0]
series_2 = [22, 31, 36, 71, 58, 15]
```

In [ ]:
#import pandas library and name it to be pd
import pandas as pd

In [ ]:
#create series
series_1 = [92, 82, 44, 79, 58, 0]
series_1 = pd.Series(data = series_1)
print(series_1)

0    92
1    82
2    44
3    79
4    58
5     0
dtype: int64

In [ ]:
series_2 = [22, 31, 36, 71, 58, 15]
series_2 = pd.Series(data = series_2)
print(series_2)

0    22
1    31
2    36
3    71
4    58
5    15
dtype: int64

###Q 1.1
add, subtract, multiply and divide to the element of the two series

In [ ]:
#add
add = series_1+series_2
#display add result
add

0    114
1    113
2     80
3    150
4    116
5     15
dtype: int64

In [ ]:
#subtract
subtract = series_1-series_2
#display subtract result
subtract

0    70
1    51
2     8
3     8
4     0
5   -15
dtype: int64

In [ ]:
#multiply
multiply = series_1*series_2
#display multiply result
multiply

0    2024
1    2542
2    1584
3    5609
4    3364
5       0
dtype: int64

In [ ]:
#divide
divide = series_1/series_2
#display diveide result
divide

0    4.181818
1    2.645161
2    1.222222
3    1.112676
4    1.000000
5    0.000000
dtype: float64

In [ ]:
#compare
print("Series1:")
print(series_1)
print("Series2:")
print(series_2)

Series1:
0    92
1    82
2    44
3    79
4    58
5     0
dtype: int64
Series2:
0    22
1    31
2    36
3    71
4    58
5    15
dtype: int64

###Q 1.2
Compare the elements of the said Series:

In [ ]:
#Equal
Equal = series_1==series_2
print("Equal:")
print(Equal)

Equal:
0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [ ]:
#Greater than
Greater_than = series_1>series_2
print("Greater_than:")
print(Greater_than)

Greater_than:
0     True
1     True
2     True
3     True
4    False
5    False
dtype: bool

In [ ]:
#Less than
Less_than = series_1<series_2
print("Greater_than:")
print(Greater_than)

Greater_than:
0     True
1     True
2     True
3     True
4    False
5    False
dtype: bool

##Exercise 2

In [ ]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import pandas as pd
import numpy as np

###Q 2.1
Write a Pandas program to convert a dictionary to a Pandas series.<br>
Given dictionary:
```
d1 = {'a': 500, 'b': 300, 'c': 100, 'd': 900, 'e': 600}
```

In [ ]:
#create dictionary
d1 = {'a': 500, 'b': 300, 'c': 100, 'd': 900, 'e': 600}

#display original array
print("Original dictionary:")
print(d1)

Original dictionary:
{'a': 500, 'b': 300, 'c': 100, 'd': 900, 'e': 600}

In [ ]:
#covert dictionary to pandas series
d1=pd.Series(d1)

#display result
print("Converted series:")
print(d1)

Converted series:
a    500
b    300
c    100
d    900
e    600
dtype: int64

###Q 2.2
Write a Pandas program to convert a NumPy array to a Pandas series.<br>
Sample NumPy array:
```
a1 = [20, 10, 90, 60, 50]
```

In [ ]:
#create numpy array
a1 = [20, 10, 90, 60, 50]
arr1 = np.array(a1)

#display original array
print("NumPy array:")
print(arr1)

NumPy array:
[20 10 90 60 50]

In [ ]:
#covert numpy array to pandas series
Series = pd.Series(arr1)

#display result
print("Converted Pandas series:")
print(Series)

Converted Pandas series:
0    20
1    10
2    90
3    60
4    50
dtype: int64

##Exercise 3
Given Python dictionary data and list labels:
```
exam_data = {
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, nan, 9, 20, 14.5, nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

```

In [ ]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import pandas as pd
import numpy as np

In [ ]:
#create dataframe
exam_data = {
'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#display original dataframe
df = pd.DataFrame(exam_data,index=labels)
print("Orginal rows:")
print(df)

Orginal rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

###Q 3.1
Display a summary of the basic information about a specified DataFrame and its data.

In [ ]:
#display basic infomation of dataframe
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

###Q 3.2
Get the first 3 rows of DataFrame.

In [ ]:
#display first 3 row of dataframe
print("First three rows of the data frame:")
print(df.head(3))

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

###Q 3.3
Select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
#display the selection
print("Select specific columns:")
print(df[['name','score']])

Select specific columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

###Q 3.4
Select the rows the score is between 15 and 20 (inclusive).

In [ ]:
#display selection
print("Rows where score between 15 and 20 (inclusive):")
print(df[(df['score'] >= 15) & (df['score'] <= 20)])

Rows where score between 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

###Q3.5
Append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.<br>

Values for each column will be:
```
name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"
```

In [ ]:
#add new row 'k'
value_k = {'name': ['Suresh'], 'score': [15.5], 'attempts': [1], 'qualify': ['yes']}
new_row = pd.DataFrame(value_k,index=['k'])
df = df.append(new_row)
#display result after add row
print("Append a new row:")
print(df)

Append a new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

<ipython-input-95-8f0a776309df>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row)

In [ ]:
#drop row 'k'
df = df.drop('k')

#display result after drop row
print("Delete the new row and display the original  rows:")
print(df)

Delete the new row and display the original  rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

###Q 3.6
Sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [ ]:
#sorting
df_sort= df.sort_values(by=['name', 'score'],ascending=[False, True] )

#display result
print("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df_sort)

Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

###Q 3.7
Replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [ ]:
#replace yes/no with true/false
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

#display result
print("Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
print(df)

Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

###Q 3.8
Change the name 'James' to 'Suresh' in name column of the DataFrame

In [ ]:
#change value in dataframe
df['name'] = df['name'].replace('James', 'Suresh')

#display result
print("Change the name 'James' to ‘Suresh’:")
print(df)

Change the name 'James' to ‘Suresh’:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d     Suresh    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

###Q 3.9
Delete the 'attempts' column from the DataFrame.

In [ ]:
#delete column
df = df.drop('attempts', axis=1)

#display result
print("Delete the 'attempts' column from the data frame:")
print(df)

Delete the 'attempts' column from the data frame:
        name  score  qualify
a  Anastasia   12.5     True
b       Dima    9.0    False
c  Katherine   16.5     True
d     Suresh    NaN    False
e      Emily    9.0    False
f    Michael   20.0     True
g    Matthew   14.5     True
h      Laura    NaN    False
i      Kevin    8.0    False
j      Jonas   19.0     True

###Q 3.10
Insert a new column in existing DataFrame.

In [ ]:
#insert new column
df['color'] = ['Red', 'Blue', 'Orange', 'Red', 'White', 'White', 'Blue', 'Green', 'Green', 'Red']

#display result
print("New DataFrame after inserting the 'color' column")
print(df)

New DataFrame after inserting the 'color' column
        name  score  qualify   color
a  Anastasia   12.5     True     Red
b       Dima    9.0    False    Blue
c  Katherine   16.5     True  Orange
d     Suresh    NaN    False     Red
e      Emily    9.0    False   White
f    Michael   20.0     True   White
g    Matthew   14.5     True    Blue
h      Laura    NaN    False   Green
i      Kevin    8.0    False   Green
j      Jonas   19.0     True     Red

##Exercise 4
Test Data:<br>
<table style="width:100%">
  <tr>
    <th>Dataframe index</th>
    <th>school_code</th>
    <th>class</th>
    <th>name</th>
    <th>date_Of_Birth</th>
    <th>weight</th>
    <th>address</th>
    <th>t_id</th>
  </tr>
  <tr>
    <td>0                </td>
    <td>s001             </td>
    <td>V                </td>
    <td>Alberto Franco   </td>
    <td>15/05/2002       </td>
    <td>35               </td>
    <td>street1          </td>
    <td>t1               </td>
  </tr>
  <tr>
    <td>1                </td>        
    <td>s002             </td>     
    <td>V                </td>    
    <td>Gino Mcneill     </td>     
    <td>17/05/2002       </td>      
    <td>32               </td>  
    <td>street2          </td>   
    <td>t2               </td>
  </tr>
  <tr>
    <td>2                </td>
    <td>s003             </td>
    <td>VI               </td>
    <td>Ryan Parkes      </td>
    <td>16/02/1999       </td>
    <td>33               </td>
    <td>street3          </td>
    <td>t3               </td>
</tr>
<tr>
    <td>3                </td>
    <td>s001             </td>
    <td>VI               </td>
    <td>Eesha Hinton     </td>
    <td>25/09/1998       </td>
    <td>30               </td>
    <td>street1          </td>
    <td>t4               </td>
</tr>
<tr>
    <td>4                 </td>
    <td>s002              </td>
    <td>V                 </td>
    <td>Gino Mcneill      </td>
    <td>11/05/2002        </td>
    <td>31                </td>
    <td>street2           </td>
    <td>t5                </td>
</tr>
<tr>
    <td>5                 </td>
    <td>s004              </td>
    <td>VI                </td>
    <td>David Parkes      </td>
    <td>15/09/1997        </td>
    <td>32                </td>
    <td>street4           </td>
    <td>t6                </td>
</tr>

</table>

Create datafram from test data

In [ ]:
#import pandas libraries and name it to be pd.
import pandas as pd

In [ ]:
#create dataframe
data = {
    'school_code': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']
}

df = pd.DataFrame(data)

#display original dataframe
print("Original DataFrame:")
print(df)

Original DataFrame:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

###Q 4.1
display the default index and set a column as an Index.

In [ ]:
#check head
print("Default Index:")
print(df)

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

In [ ]:
#set index of 'df' to be "school_code" and assign it in variable name: 'df1'
df1 = df.set_index('school_code')
print("school_code as new Index:")
print(df1)

school_code as new Index:
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

In [ ]:
#set index of 'df' to be "t_id" and assign it in variable name: 'df2'
df2 = df.set_index('t_id')
print("t_id as new Index:")
print(df2)

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

###Q 4.2
create a multi Index frame using two columns and using an Index and a column.

In [ ]:
#set multiple index of 'df' to be "t_id", "class" and "school_code", respectively. And assign it in variable name: 'df3'
df3 = df.set_index(['t_id', 'class', 'school_code'])
print("t_id as new Index:")
print(df3)

t_id as new Index:
                                  name date_Of_Birth  weight  address
t_id class school_code
t1   V     s001         Alberto Franco    15/05/2002      35  street1
t2   V     s002           Gino Mcneill    17/05/2002      32  street2
t3   VI    s003            Ryan Parkes    16/02/1999      33  street3
t4   VI    s001           Eesha Hinton    25/09/1998      30  street1
t5   V     s002           Gino Mcneill    11/05/2002      31  street2
t6   VI    s004           David Parkes    15/09/1997      32  street4

In [ ]:
#set multiple index of 'df' to be "index" and "t_id", and assign it in variable name: 'df4'
df4 = df.set_index('t_id')
df4 = df4.reset_index()
print("MultiIndex using an Index and a column:")
print(df4)

MultiIndex using an Index and a column:
  t_id school_code class            name date_Of_Birth  weight  address
0   t1        s001     V  Alberto Franco    15/05/2002      35  street1
1   t2        s002     V    Gino Mcneill    17/05/2002      32  street2
2   t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
3   t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
4   t5        s002     V    Gino Mcneill    11/05/2002      31  street2
5   t6        s004    VI    David Parkes    15/09/1997      32  street4

### Q 4.3
set value in a specific cell in df4 using index.

In [ ]:
#set value of school_code from s004 to s005
index_to_update = df4[df4['school_code'] == 's004'].index[0];

# Set the value at the specified index and column
df4.at[index_to_update, 'school_code'] = 's005';

#display result
print("Set school code 's004' to 's005':")
print(df4.iloc[5,1])

Set school code 's004' to 's005':
s005

In [ ]:
index_to_update = df4[df4['name'] == 'Alberto Franco'].index[0]
df4.at[index_to_update, 'date_Of_Birth'] = '16/05/2002'

# Create a new DataFrame 'display' with the required columns
display = df4[['school_code', 'class', 'name', 'date_Of_Birth', 'weight', 'address', 't_id', 'date_Of_Birth']].copy()

# Rename the 'date_Of_Birth' column to 'date_of_birth'
display.rename(columns={'date_Of_Birth': 'date_of_birth'})

# Print the 'display' DataFrame
print(display)

  school_code class            name date_Of_Birth  weight  address t_id  \
0        s001     V  Alberto Franco    16/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s005    VI    David Parkes    15/09/1997      32  street4   t6

  date_Of_Birth
0    16/05/2002
1    17/05/2002
2    16/02/1999
3    25/09/1998
4    11/05/2002
5    15/09/1997

###Q 4.4
reset the index of df1 and convert 1st and 3rd levels in the index into columns from a multiple level of index frame of df3.

In [ ]:
#reset the index of df1 and assign it into df5
df6 = df1.reset_index()
print("Reset the index:")
print(df6)

Reset the index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

In [ ]:
#convert the index of df3 and assign it into df6
df6 = df3.reset_index(level=[0, 2])

# Displaying the modified DataFrame (df2)
print("Convert 1st and 3rd levels in the index frame into columns:")
print(df6)

Convert 1st and 3rd levels in the index frame into columns:
      t_id school_code            name date_Of_Birth  weight  address
class
V       t1        s001  Alberto Franco    15/05/2002      35  street1
V       t2        s002    Gino Mcneill    17/05/2002      32  street2
VI      t3        s003     Ryan Parkes    16/02/1999      33  street3
VI      t4        s001    Eesha Hinton    25/09/1998      30  street1
V       t5        s002    Gino Mcneill    11/05/2002      31  street2
VI      t6        s004    David Parkes    15/09/1997      32  street4

##Exercise 5

Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.

Given dataframe
```
df5_1 = pd.DataFrame({'A': [None, 2, None], 'B': [4, 5, 6]})
df5_2 = pd.DataFrame({'A': [1, 1, 3], 'B': [9, None, 5]})
```

In [ ]:
#import pandas libraries and name it to be pd.
import pandas as pd

In [ ]:
#create dataframe
df5_1 = pd.DataFrame({'A': [None, 2, None], 'B': [4, 5, 6]})
df5_2 = pd.DataFrame({'A': [1, 1, 3], 'B': [9, None, 5]})

#diplay original dataframe
print("Original DataFrames:")
print(df5_1)

print("--------------------")
print(df5_2)

Original DataFrames:
     A  B
0  NaN  4
1  2.0  5
2  NaN  6
--------------------
   A    B
0  1  9.0
1  1  NaN
2  3  5.0

In [ ]:
#merge two dataframe
merged_df = pd.merge(df5_1, df5_2, on='A', how='inner', suffixes=('_df5_1', '_df5_2'))

# Selecting relevant columns for display
display_df = merged_df[['A', 'B_df5_1']]

#display result
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
Empty DataFrame
Columns: [A, B_df5_1, B_df5_2]
Index: []

##Exercise 6
Data 1: <br>
<table style="width:100%">
    <tr>
        <th>Dataframe index</th>
        <th>student_id</th>
        <th>name</th>
        <th>marks</th>
    </tr>
    <tr>
        <td>0               </td>
        <td>S1              </td>
        <td>Danniella Fenton</td>
        <td>200</td>
    </tr>
    <tr>
        <td>1               </td>
        <td>S2              </td>
        <td>Ryder Storey    </td>
        <td>210             </td>
    </tr>
    <tr>
        <td>2               </td>
        <td>S3              </td>
        <td>Bryce Jensen    </td>
        <td>190             </td>
    </tr>
    <tr>
        <td>3               </td>
        <td>S4              </td>
        <td>Ed Bernal       </td>
        <td>222             </td>
    </tr>
    <tr>
        <td>4               </td>
        <td>S5              </td>
        <td>Kwame Morin     </td>
        <td>199             </td>
    </tr>
</table>
<br>
Data 2: <br>
<table style="width:100%">
    <tr>
        <th>Dataframe index</th>
        <th>student_id</th>
        <th>name</th>
        <th>marks</th>
    </tr>
    <tr>
        <td>0               </td>
        <td>S4              </td>
        <td>Scarlette Fisher</td>
        <td>201</td>
    </tr>
    <tr>
        <td>1               </td>
        <td>S5              </td>
        <td>Carla Williamson</td>
        <td>200             </td>
    </tr>
    <tr>
        <td>2               </td>
        <td>S6              </td>
        <td>Dante Morse     </td>
        <td>198             </td>
    </tr>
    <tr>
        <td>3               </td>
        <td>S7              </td>
        <td>Kaiser William  </td>
        <td>219             </td>
    </tr>
    <tr>
        <td>4               </td>
        <td>S8              </td>
        <td>Madeeha Preston </td>
        <td>201             </td>
    </tr>
</table>

In [ ]:
#import pandas libraries and name it to be pd.
import pandas as pd

In [ ]:
#create dataframe
data = {'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]}
data2 = {'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
         'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
         'marks': [201, 200, 198, 219, 201]}

df = pd.DataFrame(data)
df2 = pd.DataFrame(data2)

#display original dataframe
print("Original DataFrames:")
print(df)
print("-------------------------------------")
print(df2)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

###Q 6.1
join the two given dataframes along **rows** and assign all data.

In [ ]:
#join two dataframe by row
result_df = pd.concat([df, df2])

#display result
print("Join the said two dataframes along rows:")
print(result_df)

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

###Q 6.2
join the two given dataframes along **columns** and assign all data.

In [ ]:
#join two dataframe by column
result_df = pd.concat([df, df2], axis=1)

#display result
print("Join the said two dataframes along columns:")
print(result_df)

Join the said two dataframes along columns:
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

###Q 6.3
append a list of dictioneries to a existing DataFrame and display the combined data.

```
Dictionary:
student_id                  S6
name          Scarlette Fisher
marks                      203

student_id                  S7
name          Scarlette Fisher
marks                      207
```

In [ ]:
#create dictionary
new_data = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
            {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

#display dictionary
new_data

[{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
 {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

In [ ]:
#append dicts with dataframe
combined_df = pd.concat([df, pd.DataFrame(new_data)], ignore_index=True)

#display result
print("Combined Data:")
print(combined_df)

Combined Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    203
6         S7      Bryce Jensen    207

###Q 6.4
join the two given dataframes along rows and merge with another dataframe along the common column id

```
exam_data:
   student_id  exam_id
0          S1       23
1          S2       45
2          S3       12
3          S4       67
4          S5       21
5          S7       55
6          S8       33
7          S9       14
8         S10       56
9         S11       83
10        S12       88
11        S13       12
```

In [ ]:
#create dataframe
exam_data = {'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
             'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]}
df_exam = pd.DataFrame(exam_data)

In [ ]:
#concatenate two dataframe
result_df = pd.concat([df, df2])

#display result
print("Join the said two dataframes along rows:")
print(result_df)

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [ ]:
#merge dataframe
result_df_merge = pd.merge(result_df,df_exam,on="student_id")

#display result
print("Now join the said result_data and df_exam_data along student_id:")
print(result_df_merge)

Now join the said result_data and df_exam_data along student_id:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

###Q 6.5
join the two dataframes using the common column of both dataframes.

In [ ]:
#merge dataframe
merged_data = pd.merge(df, df2, on='student_id', how='inner')


#display result
print("Merged data (inner join):")
print(merged_data)

Merged data (inner join):
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

##Exercise 7

In [ ]:
#import pandas libraries and name it to be pd.
import pandas as pd

In [ ]:
#import csv
from google.colab import files

# Upload the CSV file using the file picker dialog
uploaded = files.upload()

# Get the file name from the uploaded files
file_name = list(uploaded.keys())[0]

# Read the CSV file into a DataFrame
df = pd.read_csv(file_name)
df

###Q 7.1
display the dimensions or shape of Alcohol_Dataset. Also extract the column names from the dataset.

In [ ]:
#check head
df_head = df.head()
print('head:')
print(df_head)

#check shape
df_shape = df.shape
print("Shape of the dataframe:",df_shape)

#check column name
df_columns = df.columns
print("columns:")
print(df_columns)

head:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98
Shape of the dataframe: (100, 5)
columns:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

###Q 7.2
find and drop the missing values from Alcohol_Dataset.

In [ ]:
#find missing value
missing_values = df.isnull()
print(missing_values)

     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]

In [ ]:
#drop nan value
df_without_nan = df.dropna()
print(df_without_nan)

    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

###Q 7.3
remove the duplicates from 'WHO region' column of Alcohol_Dataset.

In [ ]:
#drop duplicates
Alcohol_Dataset_no_duplicates = df.drop_duplicates(subset='WHO region')
print(Alcohol_Dataset_no_duplicates)

    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

###Q 7.4
find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from Alcohol_Dataset.

In [ ]:
#find data
#filtered_df = df[(df['WHO region'].isin(['Americas', 'Europe'])) &
 #(df['Year'].isin([1986,1989])) ]
filtered_df = df[(df['WHO region'].isin(['Americas', 'Europe'])) &
 ((df['Year'] == 1986) | (df['Year'] == 1989))]
print("The world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
print(filtered_df)

The world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':
    Year WHO region                           Country Beverage Types  \
1   1986   Americas                           Uruguay          Other
3   1986   Americas                          Colombia           Beer
8   1986   Americas               Antigua and Barbuda        Spirits
11  1989   Americas                         Guatemala           Beer
21  1989   Americas                        Costa Rica        Spirits
29  1986     Europe                             Italy          Other
34  1986     Europe                Russian Federation           Wine
37  1986     Europe                            Sweden           Beer
41  1986     Europe                    Czech Republic           Beer
47  1986   Americas                            Mexico          Other
49  1986     Europe                             Malta           Wine
55  1989   Americas                          Suriname           Wine
57  1989     Europe                           Croatia           Wine
64  1989   Americas  Bolivia (Plurinational State of)           Beer
74  1986   Americas  Bolivia (Plurinational State of)        Spirits
78  1989   Americas                           Jamaica          Other
79  1989     Europe                           Finland          Other
83  1986     Europe                           Ukraine          Other
86  1986   Americas                           Bahamas           Wine
91  1989     Europe                          Bulgaria           Beer

    Display Value
1            0.50
3            4.27
8            1.55
11           0.62
21           4.51
29            NaN
34           0.80
37           3.04
41           6.82
47           0.04
49           1.49
55           0.04
57           5.10
64           1.26
74           2.06
78           0.00
79           2.09
83            NaN
86           1.83
91           4.43

###Q 7.5
filter those records which **not appears** in a given list from Alcohol_Dataset.<br>

Given list:<br>
"Africa", "Eastern Mediterranean", "Europe"

In [ ]:
#filter data
regions_to_exclude = ["Africa", "Eastern Mediterranean", "Europe"]
filtered_df = df[~df['WHO region'].isin(regions_to_exclude)]
print(filtered_df)

    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
5   1987         Americas                              Guatemala
8   1986         Americas                    Antigua and Barbuda
11  1989         Americas                              Guatemala
12  1985  Western Pacific       Lao People's Democratic Republic
14  1985  Western Pacific                               Viet Nam
16  1984         Americas                             Costa Rica
20  1986  South-East Asia                                Myanmar
21  1989         Americas                             Costa Rica
28  1987  Western Pacific                               Viet Nam
31  1986  Western Pacific       Micronesia (Federated States of)
35  1985         Americas                  Saint Kitts and Nevis
43  1984  Western Pacific                                  China
46  1987         Americas                    Trinidad and Tobago
47  1986         Americas                                 Mexico
48  1987         Americas                              Nicaragua
54  1984         Americas                            El Salvador
55  1989         Americas                               Suriname
56  1987  Western Pacific                               Viet Nam
61  1984  Western Pacific                       Papua New Guinea
62  1987         Americas                               Suriname
64  1989         Americas       Bolivia (Plurinational State of)
74  1986         Americas       Bolivia (Plurinational State of)
78  1989         Americas                                Jamaica
84  1986  South-East Asia                              Sri Lanka
86  1986         Americas                                Bahamas
97  1984  South-East Asia                              Indonesia
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
3            Beer           4.27
4            Beer           1.98
5           Other           0.00
8         Spirits           1.55
11           Beer           0.62
12           Beer           0.00
14        Spirits           0.05
16           Wine           0.06
20           Wine           0.00
21        Spirits           4.51
28           Beer           0.11
31           Wine           0.00
35        Spirits           2.24
43           Wine           0.03
46        Spirits           2.26
47          Other           0.04
48           Beer           0.70
54        Spirits           1.81
55           Wine           0.04
56           Wine           0.00
61        Spirits           0.08
62          Other           0.00
64           Beer           1.26
74        Spirits           2.06
78          Other           0.00
84          Other           0.00
86           Wine           1.83
97           Wine           0.00
99           Wine           0.00

###Q 7.6
find average consumption of wine per person greater than 2 in Alcohol_Dataset.

In [ ]:
#calculate average
wine_df = df[df['Beverage Types'] == 'Wine']
wine_df = wine_df[wine_df['Display Value'] > 2]

# Calculate the average consumption of wine per person
average_wine_consumption = wine_df['Display Value'].mean()

# Display the result
print("\nAverage consumption of wine per person greater than 2:")
print(average_wine_consumption)

Average consumption of wine per person greater than 2:
5.006666666666667

###Q 7.7
filter all records where the average consumption of beverages per person from .5 to 2.50 in Alcohol_Dataset

In [ ]:
#filter data
average_consumption_per_person = df.groupby(['Year', 'WHO region','Country'])['Display Value'].mean().reset_index()

# Filter rows based on the condition (average consumption of beverages per person from 0.5 to 2.5)
filtered_consumption = average_consumption_per_person[(average_consumption_per_person['Display Value'] >= 0.5) & (average_consumption_per_person['Display Value'] <= 2.5)]

# Display the filtered DataFrame
print("Filtered DataFrame:")
print(filtered_consumption)

Filtered DataFrame:
    Year             WHO region  \
1   1984                 Africa
5   1984               Americas
7   1984  Eastern Mediterranean
11  1984                 Europe
21  1985                 Africa
23  1985                 Africa
24  1985                 Africa
26  1985               Americas
33  1985                 Europe
38  1986                 Africa
41  1986               Americas
42  1986               Americas
43  1986               Americas
46  1986               Americas
47  1986  Eastern Mediterranean
52  1986                 Europe
53  1986                 Europe
67  1987               Americas
68  1987               Americas
70  1987               Americas
76  1987                 Europe
78  1987                 Europe
81  1989                 Africa
83  1989                 Africa
86  1989               Americas
88  1989               Americas
97  1989                 Europe

                                              Country  Display Value
1                                               Kenya           1.08
5                                         El Salvador           1.81
7                                             Bahrain           2.22
11                                             Norway           1.62
21                                       Cte d'Ivoire           1.62
23                                             Malawi           0.84
24                                               Mali           0.57
26                              Saint Kitts and Nevis           2.24
33  United Kingdom of Great Britain and Northern I...           1.36
38                                         Madagascar           1.02
41                                Antigua and Barbuda           1.55
42                                            Bahamas           1.83
43                   Bolivia (Plurinational State of)           2.06
46                                            Uruguay           0.50
47                                            Lebanon           0.70
52                                              Malta           1.49
53                                 Russian Federation           0.80
67                                          Nicaragua           0.70
68                              Saint Kitts and Nevis           1.98
70                                Trinidad and Tobago           2.26
76                                            Austria           1.90
78                                            Ireland           2.25
81                                          Mauritius           1.60
83                                         Seychelles           2.23
86                   Bolivia (Plurinational State of)           1.26
88                                          Guatemala           0.62
97                                            Finland           2.09

##Exercise 8
<table style="width:100%">
    <tr>
        <th>Dataframe index</th>
        <th>ord_no</th>
        <th>purch_amt</th>
        <th>ord_date</th>
        <th>customer_id</th>
        <th>salesman_id</th>
    </tr>
    <tr>    
        <td>0 </td>   
        <td>70001</td>   
        <td> 150.50</td>  
        <td>2012-10-05</td>         
        <td>3005</td>         
        <td>5002</td>
    </tr>
    <tr>    
        <td>1 </td>   
        <td>70009</td>   
        <td> 270.65</td>  
        <td>2012-09-10</td>         
        <td>3001</td>         
        <td>5005</td>
    </tr>
    <tr>    
        <td>2 </td>   
        <td>70002</td>   
        <td>  65.26</td>  
        <td>2012-10-05</td>         
        <td>3002</td>         
        <td>5001</td>
    </tr>
    <tr>    
        <td>3 </td>   
        <td>70004</td>   
        <td> 110.50</td>  
        <td>2012-08-17</td>         
        <td>3009</td>         
        <td>5003</td>
    </tr>
    <tr>    
        <td>4 </td>   
        <td>70007</td>   
        <td> 948.50</td>  
        <td>2012-09-10</td>         
        <td>3005</td>         
        <td>5002</td>
    </tr>
    <tr>    
        <td>5 </td>   
        <td>70005</td>   
        <td>2400.60</td>  
        <td>2012-07-27</td>         
        <td>3007</td>         
        <td>5001</td>
    </tr>
    <tr>    
        <td>6 </td>   
        <td>70008</td>   
        <td>5760.00</td>  
        <td>2012-09-10</td>         
        <td>3002</td>         
        <td>5001</td>
    </tr>
    <tr>    
        <td>7 </td>   
        <td>70010</td>   
        <td>1983.43</td>  
        <td>2012-10-10</td>         
        <td>3004</td>         
        <td>5006</td>
    </tr>
    <tr>    
        <td>8 </td>   
        <td>70003</td>   
        <td>2480.40</td>  
        <td>2012-10-10</td>         
        <td>3009</td>         
        <td>5003</td>
    </tr>
    <tr>    
        <td>9 </td>   
        <td>70012</td>   
        <td> 250.45</td>  
        <td>2012-06-27</td>         
        <td>3008</td>         
        <td>5002</td>
    </tr>
    <tr>    
        <td>10</td>   
        <td>70011</td>   
        <td>  75.29</td>  
        <td>2012-08-17</td>         
        <td>3003</td>         
        <td>5007</td>
    </tr>
    <tr>    
        <td>11</td>   
        <td>70013</td>   
        <td>3045.60</td>  
        <td>2012-04-25</td>         
        <td>3002</td>         
        <td>5001</td>
    </tr>
</table>

In [4]:
#import pandas libraries and name it to be pd.
import pandas as pd

In [6]:
#create dataframe
data = {
    'ord_no': [70001, 70009, 70002, 70004, 70007, 70005, 70008, 70010, 70003, 70012, 70011, 70013],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', '2012-10-05', '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3005, 3001, 3002, 3009, 3005, 3007, 3002, 3004, 3009, 3008, 3003, 3002],
    'salesman_id': [5002, 5005, 5001, 5003, 5002, 5001, 5001, 5006, 5003, 5002, 5007, 5001]
}
df = pd.DataFrame(data)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#display original dataframe
print("Original Orders DataFrame:")
print(df)

Original Orders DataFrame:
    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3005         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3002         5001
3    70004     110.50  2012-08-17         3009         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3007         5001
6    70008    5760.00  2012-09-10         3002         5001
7    70010    1983.43  2012-10-10         3004         5006
8    70003    2480.40  2012-10-10         3009         5003
9    70012     250.45  2012-06-27         3008         5002
10   70011      75.29  2012-08-17         3003         5007
11   70013    3045.60  2012-04-25         3002         5001

###Q 8.1
Write a Pandas program to split a dataset, group by one column and get mean, min, and max values by group. Using the following dataset find the mean, min, and max values of purchase amount (purch_amt) group by customer id (customer_id).

In [8]:
#group by customer_id and find max, min, mean
result = df.groupby('customer_id')['purch_amt'].agg(['mean', 'min', 'max'])

# Display the result
print("Mean, min, and max values of purchase amount (purch_amt) group by customer id  (customer_id).")
print(result)

Mean, min, and max values of purchase amount (purch_amt) group by customer id  (customer_id).
                    mean      min      max
customer_id
3001          270.650000   270.65   270.65
3002         2956.953333    65.26  5760.00
3003           75.290000    75.29    75.29
3004         1983.430000  1983.43  1983.43
3005          549.500000   150.50   948.50
3007         2400.600000  2400.60  2400.60
3008          250.450000   250.45   250.45
3009         1295.450000   110.50  2480.40

###Q 8.2
split a dataset to group by two columns and count by each row.

In [12]:
#group by salesman_id and custimer_id, and count
group = df.groupby(['salesman_id', 'customer_id']).size()
print("Group by two columns and count by each row:")
group

Group by two columns and count by each row:

salesman_id  customer_id
5001         3002           3
             3007           1
5002         3005           2
             3008           1
5003         3009           2
5005         3001           1
5006         3004           1
5007         3003           1
dtype: int64

###Q 8.3
split the following dataframe into groups, group by month and year based on order date and find the total purchase amount year wise, month wise.

In [18]:
#group by date and time and find sum
df['ord_date'] = pd.to_datetime(df['ord_date'])

ord_date = df.groupby([df['ord_date'].dt.year, df['ord_date'].dt.month])['purch_amt'].sum()

# Display the result
print("Year wise Month wise purchase amount:")
print(ord_date)

Year wise Month wise purchase amount:
ord_date  ord_date
2012      4           3045.60
          6            250.45
          7           2400.60
          8            185.79
          9           6979.15
          10          4679.59
Name: purch_amt, dtype: float64

##Exercise 9
Given data
```
    ord_no   purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN
```

In [19]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import pandas as pd
import numpy as np

In [20]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#create dataframe
data = {
    'ord_no': [70001.0, np.nan, 70002.0, 70004.0, np.nan, 70005.0, np.nan, 70010.0, 70003.0, 70012.0, np.nan, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', np.nan, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, np.nan, 5002.0, 5001.0, 5001.0, np.nan, 5003.0, 5002.0, 5003.0, np.nan]
}

df = pd.DataFrame(data)

#display original dataframe
print(df)

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

###Q 9.1
detect missing values of a given DataFrame. Display True or False.

In [23]:
#check nan value and display the result
nan = df.isna()
print("Missing values of the said dataframe:")
print(nan)

Missing values of the said dataframe:
    ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

###Q 9.2
 identify the column(s) of a given DataFrame which have at least one missing value.

In [30]:
#check column that have least one missing value and display the result
#columns_with_missing_values = df['ord_no'].isna().any()
#print(columns_with_missing_values)
columns_with_missing_values = df.isna().any()
print(columns_with_missing_values)

ord_no          True
purch_amt      False
ord_date        True
customer_id    False
salesman_id     True
dtype: bool

###Q 9.3
count the number of missing values in each column of a given DataFrame.

In [31]:
#count number of missing values in each column and display the result
missing_values_count = df.isna().sum()
print(missing_values_count)

ord_no         4
purch_amt      0
ord_date       1
customer_id    0
salesman_id    3
dtype: int64

###Q 9.4
replace the missing values in a given DataFrame which do not have any valuable information.

In [32]:
#replace nan by "?"
df_filled = df.fillna("?")

#display result
print("Replace the missing values with NaN:")
print(df_filled)

Replace the missing values with NaN:
     ord_no  purch_amt    ord_date  customer_id salesman_id
0   70001.0     150.50  2012-10-05         3002      5002.0
1         ?     270.65  2012-09-10         3001      5003.0
2   70002.0      65.26           ?         3001      5001.0
3   70004.0     110.50  2012-08-17         3003           ?
4         ?     948.50  2012-09-10         3002      5002.0
5   70005.0    2400.60  2012-07-27         3001      5001.0
6         ?    5760.00  2012-09-10         3001      5001.0
7   70010.0    1983.43  2012-10-10         3004           ?
8   70003.0    2480.40  2012-10-10         3003      5003.0
9   70012.0     250.45  2012-06-27         3002      5002.0
10        ?      75.29  2012-08-17         3001      5003.0
11  70013.0    3045.60  2012-04-25         3001           ?

###Q 9.5
drop the rows where at least one element is missing in a given DataFrame.

In [33]:
#drop rows that have nan value
df_cleaned = df.dropna()

#display result
print(df_cleaned)

    ord_no  purch_amt    ord_date  customer_id  salesman_id
0  70001.0     150.50  2012-10-05         3002       5002.0
5  70005.0    2400.60  2012-07-27         3001       5001.0
8  70003.0    2480.40  2012-10-10         3003       5003.0
9  70012.0     250.45  2012-06-27         3002       5002.0

###Q 9.6
drop the columns where at least one element is missing in a given DataFrame.

In [34]:
#drop columns that have nan value
df_cleaned2 = df.dropna(axis=1)

#display result
print(df_cleaned2)

    purch_amt  customer_id
0      150.50         3002
1      270.65         3001
2       65.26         3001
3      110.50         3003
4      948.50         3002
5     2400.60         3001
6     5760.00         3001
7     1983.43         3004
8     2480.40         3003
9      250.45         3002
10      75.29         3001
11    3045.60         3001

##Exercise 10
Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.

Given data

```
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))], axis=1)
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
```

In [35]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import pandas as pd
import numpy as np

In [36]:
#create dataframe
data = np.array([
    [1.0, 1.329212, np.nan, -0.316280, -0.990810],
    [2.0, -1.070816, -1.438713, 0.564417, 0.295722],
    [3.0, -1.626404, 0.219565, 0.678805, 1.889273],
    [4.0, 0.961538, 0.104011, np.nan, 0.850229],
    [5.0, np.nan, 1.057737, 0.165562, 0.515018],
    [6.0, -1.336936, 0.562861, 1.392855, -0.063328],
    [7.0, 0.121668, 1.207603, -0.002040, 1.627796],
    [8.0, 0.354493, 1.037528, -0.385684, 0.519818],
    [9.0, 1.686583, -1.325963, 1.428984, -2.089354],
    [10.0, -0.129820, 0.631523, -0.586538, np.nan]
])
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D', 'E'])

#display original dataframe
print("Original array:")
print(df)

Original array:
      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0       NaN  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538       NaN

In [38]:
#define function for fill color
# Define a function to apply red color to NaN values
def highlight_nan(value):
    if pd.isna(value):
        return 'background-color: red'
    else:
        return ''

# Apply the function to the DataFrame using style.applymap
style = df.style.applymap(highlight_nan)

#call function and display result
style

##Question 1
You and your spouse decided to let the internet name your next child. You’ve asked the great people of the web to submit their favorite names, and you’ve compiled their submissions into a Series called "babynames".

Voting result from internet
```
babynames =
    { 'Jathonathon', 'Zeltron', 'Ruger', 'Phreddy', 'Ruger', 'Chad', 'Chad',
    'Ruger', 'Ryan', 'Ruger', 'Chad', 'Ryan', 'Phreddy', 'Phreddy', 'Phreddy',
    'Mister', 'Zeltron', 'Ryan', 'Ruger', 'Ruger', 'Jathonathon',
    'Jathonathon', 'Ruger', 'Chad', 'Zeltron' }
```
Determine how many people voted for the names ‘Chad’, ‘Ruger’, and ‘Zeltron’.

In [109]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import numpy as np
import pandas as pd

In [110]:
#create series
babynames = pd.Series(['Jathonathon', 'Zeltron', 'Ruger', 'Phreddy', 'Ruger','Chad', 'Chad',
'Ruger', 'Ryan', 'Ruger', 'Chad', 'Ryan', 'Phreddy','Phreddy', 'Phreddy','Mister', 'Zeltron', 'Ryan', 'Ruger', 'Ruger',
'Jathonathon','Jathonathon', 'Ruger', 'Chad', 'Zeltron'])
#count value
vote_counts = babynames.value_counts()
vote_counts

Ruger          7
Phreddy        4
Chad           4
Jathonathon    3
Zeltron        3
Ryan           3
Mister         1
dtype: int64

In [111]:
#check head
vote_counts.head()

Ruger          7
Phreddy        4
Chad           4
Jathonathon    3
Zeltron        3
dtype: int64

In [112]:
#Chad Ruger Zeltron
specific_names = ['Chad', 'Ruger', 'Zeltron']
specific_counts = vote_counts[specific_names]
specific_counts

Chad       4
Ruger      7
Zeltron    3
dtype: int64

##Question 2
Create, two Series bees and knees. The bees series contain "True, True, False, np.nan, True, False, True, np.nan" respectively and, the knees series contain [5,2,9,1,3,10,5,6] and index is [7,0,2,6,3,5,1,4].
<br>
<br>
If the i<sup>th</sup> value of bees is NaN, double the i<sup>th</sup> value inside knees.
<br>
Expected output:

```
bees
# 0     True
# 1     True
# 2    False
# 3      NaN
# 4     True
# 5    False
# 6     True
# 7      NaN

knees
# 7     5
# 0     2
# 2     9
# 6     1  <-- double this
# 3     3
# 5    10
# 1     5
# 4     6  <-- double this
```


<i>Hint: to_numpy</i>

In [115]:
import numpy as np
import pandas as pd
bees_values = [True, True, False, np.nan, True, False, True, np.nan]
bees = pd.Series(bees_values)
knees= pd.DataFrame([5, 2, 9, 1, 3, 10, 5, 6], [7,0,2, 6, 3,5,1,4])
knees. loc[pd.isna(bees) . to_numpy() ] *= 2
print(bees)
print(knees)

0     True
1     True
2    False
3      NaN
4     True
5    False
6     True
7      NaN
dtype: object
    0
7   5
0   2
2   9
6   2
3   3
5  10
1   5
4  12

##Question 3
You have a DataFrame called schedules that represents the daily schedule of each student in a school. For example, If Ryan attends four classes - math, english, history, and chemistry, your schedules DataFrame will have four rows for Ryan in the order he attends each class.


Given data
```
generator = np.random.default_rng(seed=1234)
classes = ['english', 'math', 'history', 'chemistry', 'gym', 'civics', 'writing', 'engineering']

schedules = pd.DataFrame({
    'student_id':np.repeat(np.arange(100), 4),
    'class':generator.choice(classes, size=400, replace=True)
}).drop_duplicates()
schedules['grade'] = generator.integers(101, size=schedules.shape[0])

print(schedules)
```

You have this theory that the sequence of class-to-class transitions affects students' grades. For instance, you suspect Ryan would do better in his Chemistry class if it immediately followed his Math class instead of his History class.
<br>
<br>
Determine the average and median Chemistry grade for groups of students based on the class they have immediately prior to Chemistry. Also report how many students fall into each group.

In [116]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import numpy as np
import pandas as pd

In [161]:
#create dataframe
generator = np.random.default_rng(seed=1234)
classes = ['english', 'math', 'history', 'chemistry', 'gym', 'civics',
'writing', 'engineering']
schedules = pd. DataFrame({
'student_id':np.repeat(np.arange(100), 4),
'class':generator.choice(classes, size=400, replace=True)
}).drop_duplicates()
schedules['grade'] = generator.integers(101, size=schedules.shape[0])
print(schedules)
#display result
print(schedules)

     student_id        class  grade
0             0  engineering     86
3             0    chemistry     75
4             1         math     85
5             1  engineering      0
6             1      english     73
7             1      history     81
8             2         math     12
9             2      history     81
10            2          gym     79
11            2      english      5
12            3      writing     93
13            3         math      9
15            3      history     56
16            4      writing     55
17            4  engineering     86
19            4      history     77
20            5          gym     45
21            5    chemistry     73
22            5      history     16
24            6  engineering     68
25            6      writing     68
26            6       civics     77
28            7          gym     84
29            7       civics     60
30            7  engineering     66
32            8      english     23
33            8       civics     63
35            8         math      2
36            9      writing      8
37            9         math     92
40           10    chemistry     23
41           10      english     41
42           10         math     46
43           10       civics     73
44           11      english     55
45           11       civics     26
46           11         math     27
47           11          gym     99
48           12          gym     20
49           12      english     17
50           12         math     42
51           12  engineering      4
52           13    chemistry     68
55           13          gym     49
56           14         math     27
57           14      english     37
58           14       civics     65
59           14      history     66
60           15       civics     78
61           15      writing      0
62           15    chemistry     64
64           16         math     14
65           16       civics     35
67           16  engineering     86
68           17      writing     62
69           17         math     68
71           17  engineering     41
72           18      history     33
73           18         math     10
74           18      writing      2
75           18  engineering     84
76           19  engineering      4
77           19      english     15
79           19    chemistry     39
80           20    chemistry     42
81           20      writing     95
82           20  engineering     86
83           20      history     92
84           21      writing     52
87           21  engineering     31
88           22      history     71
89           22      writing     37
90           22    chemistry     46
92           23      writing     26
93           23      history     32
95           23    chemistry     14
96           24      english     89
98           24      writing     59
99           24         math     49
100          25  engineering     46
101          25          gym     49
102          25         math     84
103          25       civics     77
104          26         math     50
105          26    chemistry     23
106          26          gym      1
107          26      history     46
108          27       civics     44
109          27  engineering     78
110          27      history     13
111          27      writing     18
112          28      history     33
113          28    chemistry     65
114          28      english     50
116          29       civics      6
118          29      history     54
119          29      writing     32
120          30          gym     70
121          30      history     47
122          30         math     97
123          30       civics     12
124          31          gym     37
125          31      writing     38
127          31  engineering     76
128          32         math     74
129          32      english     53
130          32    chemistry     22
131          32          gym     87
132          33       civics     39
133          33          gym     56
135          33      history     27
136          34      english     38
137          34    chemistry     24
138          34      history     50
139          34          gym      5
140          35          gym     53
141          35  engineering     65
142          35      writing     99
143          35      english     45
144          36          gym      6
145          36         math    100
146          36    chemistry      4
147          36      history     69
148          37      english     19
149          37      history     50
150          37      writing      0
152          38  engineering     24
153          38      history     10
154          38       civics     18
155          38         math     39
156          39      english     36
157          39      writing     20
158          39          gym     44
159          39       civics     48
160          40    chemistry     73
161          40      english     85
163          40         math     51
164          41      english     64
165          41       civics      1
166          41      history     77
167          41         math     46
168          42    chemistry     83
169          42  engineering     43
170          42      english     12
171          42         math     41
172          43      writing      4
174          43      english     10
175          43    chemistry     45
176          44  engineering     88
177          44      history     47
178          44      writing     60
179          44         math     96
180          45  engineering     27
182          45          gym     26
183          45    chemistry     64
184          46  engineering     44
185          46      english     24
186          46         math     56
188          47    chemistry     93
190          47      writing     85
192          48          gym     81
193          48      history     12
194          48  engineering     85
195          48      writing     93
196          49         math     87
197          49  engineering     58
198          49    chemistry     53
199          49      english     46
200          50       civics     64
201          50      history     44
203          50          gym     95
204          51          gym      5
205          51      history     32
206          51    chemistry     27
207          51         math     97
208          52    chemistry     62
211          52      writing     39
212          53      history     92
213          53       civics      5
214          53         math     92
216          54    chemistry     94
217          54          gym     25
218          54       civics     57
219          54      history     54
220          55      writing     36
221          55      history     30
222          55      english     79
223          55  engineering     37
224          56  engineering      1
225          56      history     35
226          56      english     78
228          57      english     43
229          57         math     25
230          57          gym      0
232          58       civics      3
233          58    chemistry     45
234          58         math     10
235          58      writing     31
236          59      history     79
237          59         math     26
238          59    chemistry     51
239          59  engineering     57
240          60  engineering     10
241          60       civics     49
242          60          gym     27
243          60         math     72
244          61  engineering     65
245          61       civics     46
247          61      english     91
248          62      english     85
249          62          gym     86
250          62       civics     79
252          63    chemistry     28
253          63      english     54
254          63          gym     44
256          64  engineering     95
257          64       civics     69
258          64    chemistry     65
260          65       civics     99
262          65      writing     42
263          65          gym     96
264          66         math     22
265          66  engineering     91
266          66      writing     16
267          66          gym     11
268          67      writing     35
269          67      english     59
270          67  engineering     24
271          67         math      8
272          68      english     47
273          68  engineering     33
274          68    chemistry     78
275          68      writing     45
276          69         math      3
277          69      english     65
278          69      writing     78
279          69  engineering     20
280          70      english     16
281          70       civics     64
282          70         math     59
283          70  engineering     92
284          71  engineering      0
285          71         math     50
286          71      writing     84
287          71          gym     94
288          72         math     72
289          72          gym     70
290          72      history     18
292          73  engineering     20
293          73      english     92
295          73       civics     97
296          74         math     35
297          74      english     66
298          74  engineering     61
300          75    chemistry     55
301          75          gym     21
302          75       civics     29
304          76       civics     50
305          76      history     53
306          76  engineering     69
307          76      writing     48
308          77      writing     19
309          77  engineering      7
310          77          gym     32
311          77       civics     81
312          78      history     43
313          78  engineering     89
314          78      english     56
316          79  engineering      5
317          79      english     29
318          79    chemistry     45
320          80      writing     47
321          80      english     30
322          80      history     10
323          80          gym     32
324          81      writing     44
325          81  engineering     72
326          81    chemistry      2
327          81         math      7
328          82         math     18
329          82  engineering     83
330          82      writing     92
332          83       civics     82
333          83      history     20
334          83      english     96
335          83         math     36
336          84  engineering     11
337          84    chemistry     18
338          84      history     88
340          85      english     59
342          85    chemistry     21
344          86      english     59
345          86          gym     58
346          86      history     90
347          86       civics     30
348          87  engineering     74
350          87       civics     42
351          87      english     95
352          88    chemistry     86
353          88       civics     19
354          88      writing     25
356          89  engineering     24
357          89          gym     71
359          89      english     87
360          90    chemistry     58
361          90      writing     87
362          90      english     85
363          90       civics     13
364          91  engineering     39
365          91          gym     36
366          91         math     23
368          92          gym      1
369          92      english     90
371          92       civics     23
372          93  engineering     20
373          93    chemistry     34
374          93      history     60
376          94      english     31
377          94  engineering     25
378          94       civics     12
379          94      writing     52
380          95      writing     96
381          95    chemistry     26
382          95      history     36
383          95       civics     98
384          96      history     47
385          96       civics     80
386          96         math     70
387          96      english     36
388          97      history     82
389          97         math     99
390          97      writing     89
392          98          gym     33
393          98         math     59
394          98      writing     16
395          98       civics     89
396          99  engineering     90
398          99         math     55
399          99      history     31
     student_id        class  grade
0             0  engineering     86
3             0    chemistry     75
4             1         math     85
5             1  engineering      0
6             1      english     73
7             1      history     81
8             2         math     12
9             2      history     81
10            2          gym     79
11            2      english      5
12            3      writing     93
13            3         math      9
15            3      history     56
16            4      writing     55
17            4  engineering     86
19            4      history     77
20            5          gym     45
21            5    chemistry     73
22            5      history     16
24            6  engineering     68
25            6      writing     68
26            6       civics     77
28            7          gym     84
29            7       civics     60
30            7  engineering     66
32            8      english     23
33            8       civics     63
35            8         math      2
36            9      writing      8
37            9         math     92
40           10    chemistry     23
41           10      english     41
42           10         math     46
43           10       civics     73
44           11      english     55
45           11       civics     26
46           11         math     27
47           11          gym     99
48           12          gym     20
49           12      english     17
50           12         math     42
51           12  engineering      4
52           13    chemistry     68
55           13          gym     49
56           14         math     27
57           14      english     37
58           14       civics     65
59           14      history     66
60           15       civics     78
61           15      writing      0
62           15    chemistry     64
64           16         math     14
65           16       civics     35
67           16  engineering     86
68           17      writing     62
69           17         math     68
71           17  engineering     41
72           18      history     33
73           18         math     10
74           18      writing      2
75           18  engineering     84
76           19  engineering      4
77           19      english     15
79           19    chemistry     39
80           20    chemistry     42
81           20      writing     95
82           20  engineering     86
83           20      history     92
84           21      writing     52
87           21  engineering     31
88           22      history     71
89           22      writing     37
90           22    chemistry     46
92           23      writing     26
93           23      history     32
95           23    chemistry     14
96           24      english     89
98           24      writing     59
99           24         math     49
100          25  engineering     46
101          25          gym     49
102          25         math     84
103          25       civics     77
104          26         math     50
105          26    chemistry     23
106          26          gym      1
107          26      history     46
108          27       civics     44
109          27  engineering     78
110          27      history     13
111          27      writing     18
112          28      history     33
113          28    chemistry     65
114          28      english     50
116          29       civics      6
118          29      history     54
119          29      writing     32
120          30          gym     70
121          30      history     47
122          30         math     97
123          30       civics     12
124          31          gym     37
125          31      writing     38
127          31  engineering     76
128          32         math     74
129          32      english     53
130          32    chemistry     22
131          32          gym     87
132          33       civics     39
133          33          gym     56
135          33      history     27
136          34      english     38
137          34    chemistry     24
138          34      history     50
139          34          gym      5
140          35          gym     53
141          35  engineering     65
142          35      writing     99
143          35      english     45
144          36          gym      6
145          36         math    100
146          36    chemistry      4
147          36      history     69
148          37      english     19
149          37      history     50
150          37      writing      0
152          38  engineering     24
153          38      history     10
154          38       civics     18
155          38         math     39
156          39      english     36
157          39      writing     20
158          39          gym     44
159          39       civics     48
160          40    chemistry     73
161          40      english     85
163          40         math     51
164          41      english     64
165          41       civics      1
166          41      history     77
167          41         math     46
168          42    chemistry     83
169          42  engineering     43
170          42      english     12
171          42         math     41
172          43      writing      4
174          43      english     10
175          43    chemistry     45
176          44  engineering     88
177          44      history     47
178          44      writing     60
179          44         math     96
180          45  engineering     27
182          45          gym     26
183          45    chemistry     64
184          46  engineering     44
185          46      english     24
186          46         math     56
188          47    chemistry     93
190          47      writing     85
192          48          gym     81
193          48      history     12
194          48  engineering     85
195          48      writing     93
196          49         math     87
197          49  engineering     58
198          49    chemistry     53
199          49      english     46
200          50       civics     64
201          50      history     44
203          50          gym     95
204          51          gym      5
205          51      history     32
206          51    chemistry     27
207          51         math     97
208          52    chemistry     62
211          52      writing     39
212          53      history     92
213          53       civics      5
214          53         math     92
216          54    chemistry     94
217          54          gym     25
218          54       civics     57
219          54      history     54
220          55      writing     36
221          55      history     30
222          55      english     79
223          55  engineering     37
224          56  engineering      1
225          56      history     35
226          56      english     78
228          57      english     43
229          57         math     25
230          57          gym      0
232          58       civics      3
233          58    chemistry     45
234          58         math     10
235          58      writing     31
236          59      history     79
237          59         math     26
238          59    chemistry     51
239          59  engineering     57
240          60  engineering     10
241          60       civics     49
242          60          gym     27
243          60         math     72
244          61  engineering     65
245          61       civics     46
247          61      english     91
248          62      english     85
249          62          gym     86
250          62       civics     79
252          63    chemistry     28
253          63      english     54

In [119]:
#reset index and assign in new dataframe
sch_new = schedules.reset_index(drop=True)
sch_new

     student_id        class  grade
0             0  engineering     86
1             0    chemistry     75
2             1         math     85
3             1  engineering      0
4             1      english     73
5             1      history     81
6             2         math     12
7             2      history     81
8             2          gym     79
9             2      english      5
10            3      writing     93
11            3         math      9
12            3      history     56
13            4      writing     55
14            4  engineering     86
15            4      history     77
16            5          gym     45
17            5    chemistry     73
18            5      history     16
19            6  engineering     68
20            6      writing     68
21            6       civics     77
22            7          gym     84
23            7       civics     60
24            7  engineering     66
25            8      english     23
26            8       civics     63
27            8         math      2
28            9      writing      8
29            9         math     92
30           10    chemistry     23
31           10      english     41
32           10         math     46
33           10       civics     73
34           11      english     55
35           11       civics     26
36           11         math     27
37           11          gym     99
38           12          gym     20
39           12      english     17
40           12         math     42
41           12  engineering      4
42           13    chemistry     68
43           13          gym     49
44           14         math     27
45           14      english     37
46           14       civics     65
47           14      history     66
48           15       civics     78
49           15      writing      0
50           15    chemistry     64
51           16         math     14
52           16       civics     35
53           16  engineering     86
54           17      writing     62
55           17         math     68
56           17  engineering     41
57           18      history     33
58           18         math     10
59           18      writing      2
60           18  engineering     84
61           19  engineering      4
62           19      english     15
63           19    chemistry     39
64           20    chemistry     42
65           20      writing     95
66           20  engineering     86
67           20      history     92
68           21      writing     52
69           21  engineering     31
70           22      history     71
71           22      writing     37
72           22    chemistry     46
73           23      writing     26
74           23      history     32
75           23    chemistry     14
76           24      english     89
77           24      writing     59
78           24         math     49
79           25  engineering     46
80           25          gym     49
81           25         math     84
82           25       civics     77
83           26         math     50
84           26    chemistry     23
85           26          gym      1
86           26      history     46
87           27       civics     44
88           27  engineering     78
89           27      history     13
90           27      writing     18
91           28      history     33
92           28    chemistry     65
93           28      english     50
94           29       civics      6
95           29      history     54
96           29      writing     32
97           30          gym     70
98           30      history     47
99           30         math     97
100          30       civics     12
101          31          gym     37
102          31      writing     38
103          31  engineering     76
104          32         math     74
105          32      english     53
106          32    chemistry     22
107          32          gym     87
108          33       civics     39
109          33          gym     56
110          33      history     27
111          34      english     38
112          34    chemistry     24
113          34      history     50
114          34          gym      5
115          35          gym     53
116          35  engineering     65
117          35      writing     99
118          35      english     45
119          36          gym      6
120          36         math    100
121          36    chemistry      4
122          36      history     69
123          37      english     19
124          37      history     50
125          37      writing      0
126          38  engineering     24
127          38      history     10
128          38       civics     18
129          38         math     39
130          39      english     36
131          39      writing     20
132          39          gym     44
133          39       civics     48
134          40    chemistry     73
135          40      english     85
136          40         math     51
137          41      english     64
138          41       civics      1
139          41      history     77
140          41         math     46
141          42    chemistry     83
142          42  engineering     43
143          42      english     12
144          42         math     41
145          43      writing      4
146          43      english     10
147          43    chemistry     45
148          44  engineering     88
149          44      history     47
150          44      writing     60
151          44         math     96
152          45  engineering     27
153          45          gym     26
154          45    chemistry     64
155          46  engineering     44
156          46      english     24
157          46         math     56
158          47    chemistry     93
159          47      writing     85
160          48          gym     81
161          48      history     12
162          48  engineering     85
163          48      writing     93
164          49         math     87
165          49  engineering     58
166          49    chemistry     53
167          49      english     46
168          50       civics     64
169          50      history     44
170          50          gym     95
171          51          gym      5
172          51      history     32
173          51    chemistry     27
174          51         math     97
175          52    chemistry     62
176          52      writing     39
177          53      history     92
178          53       civics      5
179          53         math     92
180          54    chemistry     94
181          54          gym     25
182          54       civics     57
183          54      history     54
184          55      writing     36
185          55      history     30
186          55      english     79
187          55  engineering     37
188          56  engineering      1
189          56      history     35
190          56      english     78
191          57      english     43
192          57         math     25
193          57          gym      0
194          58       civics      3
195          58    chemistry     45
196          58         math     10
197          58      writing     31
198          59      history     79
199          59         math     26
200          59    chemistry     51
201          59  engineering     57
202          60  engineering     10
203          60       civics     49
204          60          gym     27
205          60         math     72
206          61  engineering     65
207          61       civics     46
208          61      english     91
209          62      english     85
210          62          gym     86
211          62       civics     79
212          63    chemistry     28
213          63      english     54
214          63          gym     44
215          64  engineering     95
216          64       civics     69
217          64    chemistry     65
218          65       civics     99
219          65      writing     42
220          65          gym     96
221          66         math     22
222          66  engineering     91
223          66      writing     16
224          66          gym     11
225          67      writing     35
226          67      english     59
227          67  engineering     24
228          67         math      8
229          68      english     47
230          68  engineering     33
231          68    chemistry     78
232          68      writing     45
233          69         math      3
234          69      english     65
235          69      writing     78
236          69  engineering     20
237          70      english     16
238          70       civics     64
239          70         math     59
240          70  engineering     92
241          71  engineering      0
242          71         math     50
243          71      writing     84
244          71          gym     94
245          72         math     72
246          72          gym     70
247          72      history     18
248          73  engineering     20
249          73      english     92
250          73       civics     97
251          74         math     35
252          74      english     66
253          74  engineering     61
254          75    chemistry     55
255          75          gym     21
256          75       civics     29
257          76       civics     50
258          76      history     53
259          76  engineering     69
260          76      writing     48
261          77      writing     19
262          77  engineering      7
263          77          gym     32
264          77       civics     81
265          78      history     43
266          78  engineering     89
267          78      english     56
268          79  engineering      5
269          79      english     29
270          79    chemistry     45
271          80      writing     47
272          80      english     30
273          80      history     10
274          80          gym     32
275          81      writing     44
276          81  engineering     72
277          81    chemistry      2
278          81         math      7
279          82         math     18
280          82  engineering     83
281          82      writing     92
282          83       civics     82
283          83      history     20
284          83      english     96
285          83         math     36
286          84  engineering     11
287          84    chemistry     18
288          84      history     88
289          85      english     59
290          85    chemistry     21
291          86      english     59
292          86          gym     58
293          86      history     90
294          86       civics     30
295          87  engineering     74
296          87       civics     42
297          87      english     95
298          88    chemistry     86
299          88       civics     19
300          88      writing     25
301          89  engineering     24
302          89          gym     71
303          89      english     87
304          90    chemistry     58
305          90      writing     87
306          90      english     85
307          90       civics     13
308          91  engineering     39
309          91          gym     36
310          91         math     23
311          92          gym      1
312          92      english     90
313          92       civics     23
314          93  engineering     20
315          93    chemistry     34
316          93      history     60
317          94      english     31
318          94  engineering     25
319          94       civics     12
320          94      writing     52
321          95      writing     96
322          95    chemistry     26
323          95      history     36
324          95       civics     98
325          96      history     47
326          96       civics     80
327          96         math     70
328          96      english     36
329          97      history     82
330          97         math     99
331          97      writing     89
332          98          gym     33
333          98         math     59
334          98      writing     16
335          98       civics     89
336          99  engineering     90
337          99         math     55
338          99      history     31

In [120]:
 #select row of chemical class
chem = sch_new[sch_new['class'] == 'chemistry' ].reset_index()
chem

    index  student_id      class  grade
0       1           0  chemistry     75
1      17           5  chemistry     73
2      30          10  chemistry     23
3      42          13  chemistry     68
4      50          15  chemistry     64
5      63          19  chemistry     39
6      64          20  chemistry     42
7      72          22  chemistry     46
8      75          23  chemistry     14
9      84          26  chemistry     23
10     92          28  chemistry     65
11    106          32  chemistry     22
12    112          34  chemistry     24
13    121          36  chemistry      4
14    134          40  chemistry     73
15    141          42  chemistry     83
16    147          43  chemistry     45
17    154          45  chemistry     64
18    158          47  chemistry     93
19    166          49  chemistry     53
20    173          51  chemistry     27
21    175          52  chemistry     62
22    180          54  chemistry     94
23    195          58  chemistry     45
24    200          59  chemistry     51
25    212          63  chemistry     28
26    217          64  chemistry     65
27    231          68  chemistry     78
28    254          75  chemistry     55
29    270          79  chemistry     45
30    277          81  chemistry      2
31    287          84  chemistry     18
32    290          85  chemistry     21
33    298          88  chemistry     86
34    304          90  chemistry     58
35    315          93  chemistry     34
36    322          95  chemistry     26

In [121]:
#select student_id who learn chemistry and name it to be chem_stid
chem_stid = chem['student_id']
chem_stid

0      0
1      5
2     10
3     13
4     15
5     19
6     20
7     22
8     23
9     26
10    28
11    32
12    34
13    36
14    40
15    42
16    43
17    45
18    47
19    49
20    51
21    52
22    54
23    58
24    59
25    63
26    64
27    68
28    75
29    79
30    81
31    84
32    85
33    88
34    90
35    93
36    95
Name: student_id, dtype: int64

In [122]:
#select index column and name it to be chem_index
chem_index = chem['index']
chem_index

0       1
1      17
2      30
3      42
4      50
5      63
6      64
7      72
8      75
9      84
10     92
11    106
12    112
13    121
14    134
15    141
16    147
17    154
18    158
19    166
20    173
21    175
22    180
23    195
24    200
25    212
26    217
27    231
28    254
29    270
30    277
31    287
32    290
33    298
34    304
35    315
36    322
Name: index, dtype: int64

In [123]:
#calculate index of previous chemistry class and name it to be pre_chem_index
pre_chem_index = chem_index - 1
pre_chem_index

0       0
1      16
2      29
3      41
4      49
5      62
6      63
7      71
8      74
9      83
10     91
11    105
12    111
13    120
14    133
15    140
16    146
17    153
18    157
19    165
20    172
21    174
22    179
23    194
24    199
25    211
26    216
27    230
28    253
29    269
30    276
31    286
32    289
33    297
34    303
35    314
36    321
Name: index, dtype: int64

In [125]:
#select rows by student_id and index by using chem_stid and pre_chem_index
pre_chem = sch_new[ (sch_new['student_id'].isin(chem_stid)) & (sch_new.index.
isin(pre_chem_index)) ]
pre_chem = pre_chem.set_index('student_id')
pre_chem

                  class  grade
student_id
0           engineering     86
5                   gym     45
15              writing      0
19              english     15
19            chemistry     39
22              writing     37
23              history     32
26                 math     50
28              history     33
32              english     53
34              english     38
36                 math    100
43              english     10
45                  gym     26
49          engineering     58
51              history     32
51                 math     97
58               civics      3
59                 math     26
64               civics     69
68          engineering     33
79              english     29
81          engineering     72
84          engineering     11
85              english     59
93          engineering     20
95              writing     96

In [130]:
#select rows by student_id and index by using chem_stid and chem_index
chem_student = sch_new[sch_new['student_id'].isin(chem_stid) & sch_new.index.isin(chem_index) ]
chem_student = chem_student.set_index('student_id')
chem_student.rename(columns={'class' : 'class_chem', 'grade': 'grade_chem'},inplace=True)
chem_student

           class_chem  grade_chem
student_id
0           chemistry          75
5           chemistry          73
10          chemistry          23
13          chemistry          68
15          chemistry          64
19          chemistry          39
20          chemistry          42
22          chemistry          46
23          chemistry          14
26          chemistry          23
28          chemistry          65
32          chemistry          22
34          chemistry          24
36          chemistry           4
40          chemistry          73
42          chemistry          83
43          chemistry          45
45          chemistry          64
47          chemistry          93
49          chemistry          53
51          chemistry          27
52          chemistry          62
54          chemistry          94
58          chemistry          45
59          chemistry          51
63          chemistry          28
64          chemistry          65
68          chemistry          78
75          chemistry          55
79          chemistry          45
81          chemistry           2
84          chemistry          18
85          chemistry          21
88          chemistry          86
90          chemistry          58
93          chemistry          34
95          chemistry          26

In [132]:
#create
Result = pre_chem.join(chem_student)
Result.rename(columns={'class': 'subject', 'grade': 'grade_other'},inplace=True)
Result

                subject  grade_other class_chem  grade_chem
student_id
0           engineering           86  chemistry          75
5                   gym           45  chemistry          73
15              writing            0  chemistry          64
19              english           15  chemistry          39
19            chemistry           39  chemistry          39
22              writing           37  chemistry          46
23              history           32  chemistry          14
26                 math           50  chemistry          23
28              history           33  chemistry          65
32              english           53  chemistry          22
34              english           38  chemistry          24
36                 math          100  chemistry           4
43              english           10  chemistry          45
45                  gym           26  chemistry          64
49          engineering           58  chemistry          53
51              history           32  chemistry          27
51                 math           97  chemistry          27
58               civics            3  chemistry          45
59                 math           26  chemistry          51
64               civics           69  chemistry          65
68          engineering           33  chemistry          78
79              english           29  chemistry          45
81          engineering           72  chemistry           2
84          engineering           11  chemistry          18
85              english           59  chemistry          21
93          engineering           20  chemistry          34
95              writing           96  chemistry          26

In [133]:
unique_classes = schedules['class'].unique()
unique_classes

array(['engineering', 'chemistry', 'math', 'english', 'history', 'gym',
       'writing', 'civics'], dtype=object)

In [134]:
#select rows by "engineering"
engi = Result[Result['subject'] == 'engineering']
engi

                subject  grade_other class_chem  grade_chem
student_id
0           engineering           86  chemistry          75
49          engineering           58  chemistry          53
68          engineering           33  chemistry          78
81          engineering           72  chemistry           2
84          engineering           11  chemistry          18
93          engineering           20  chemistry          34

In [135]:
#display result
print("Number of student in this group: ",engi['subject'].count())
engi.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean', 'median']})

Number of student in this group:  6

        grade_other  grade_chem
mean      46.666667   43.333333
median    45.500000   43.500000

In [136]:
#select rows by "gym"
gym = Result[Result['subject'] == 'gym']
gym

           subject  grade_other class_chem  grade_chem
student_id
5              gym           45  chemistry          73
45             gym           26  chemistry          64

In [137]:
 #display result
print('Result Student in Group:',gym['subject'].count())
gym.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean', 'median']})

Result Student in Group: 2

        grade_other  grade_chem
mean           35.5        68.5
median         35.5        68.5

In [138]:
#select rows by "writing"
writing = Result[Result['subject'] == 'writing']
writing

            subject  grade_other class_chem  grade_chem
student_id
15          writing            0  chemistry          64
22          writing           37  chemistry          46
95          writing           96  chemistry          26

In [140]:
#display result
print('Result Student in Group:',writing['subject'].count())
writing.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean','median']})

Result Student in Group: 3

        grade_other  grade_chem
mean      44.333333   45.333333
median    37.000000   46.000000

In [141]:
#select rows by "english"
english = Result[Result['subject'] == 'english']
english

            subject  grade_other class_chem  grade_chem
student_id
19          english           15  chemistry          39
32          english           53  chemistry          22
34          english           38  chemistry          24
43          english           10  chemistry          45
79          english           29  chemistry          45
85          english           59  chemistry          21

In [143]:
#display result
print('Result Student in Group:',english['subject'].count())
english.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean','median']})

Result Student in Group: 6

        grade_other  grade_chem
mean           34.0   32.666667
median         33.5   31.500000

In [162]:
#select rows by "chemistry"
chemistry = Result[Result['subject'] == 'chemistry']
chemistry

              subject  grade_other class_chem  grade_chem
student_id
19          chemistry           39  chemistry          39

In [163]:
#display result
print('Result Student in Group:',chemistry['subject'].count())
chemistry.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean','median']})

Result Student in Group: 1

        grade_other  grade_chem
mean           39.0        39.0
median         39.0        39.0

In [144]:
#select rows by "history"
history = Result[Result['subject'] == 'history']
history

            subject  grade_other class_chem  grade_chem
student_id
23          history           32  chemistry          14
28          history           33  chemistry          65
51          history           32  chemistry          27

In [146]:
#display result
print('Result Student in Group:',history['subject'].count())
history.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean','median']})

Result Student in Group: 3

        grade_other  grade_chem
mean      32.333333   35.333333
median    32.000000   27.000000

In [147]:
#select rows by "math"
math = Result[Result['subject'] == 'math']
math

           subject  grade_other class_chem  grade_chem
student_id
26            math           50  chemistry          23
36            math          100  chemistry           4
51            math           97  chemistry          27
59            math           26  chemistry          51

In [148]:
#display result
print('Result Student in Group:',math['subject'].count())
math.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean', 'median']})

Result Student in Group: 4

        grade_other  grade_chem
mean          68.25       26.25
median        73.50       25.00

In [149]:
#select rows by "civics"
civics = Result[Result['subject'] == 'civics']
civics

           subject  grade_other class_chem  grade_chem
student_id
58          civics            3  chemistry          45
64          civics           69  chemistry          65

In [150]:
#display result
print('Result Student in Group:',civics['subject'].count())
civics.agg({'grade_other': ['mean', 'median'], 'grade_chem': ['mean','median']})

Result Student in Group: 2

        grade_other  grade_chem
mean           36.0        55.0
median         36.0        55.0

##Question 4
You own a gym 💪🏾 for pregnant women 🤰🏾 called “OB-GYM” and you recently opened a second location. You’d like to analyze its performance, but your reporting software has given you the sales data in an awkward format.

Given data

```
generator = np.random.default_rng(314)

sales = pd.DataFrame({
    'date':pd.date_range(start = '2020-01-01', periods=5).repeat(2),
    'store_id':np.tile([1,2], 5),
    'sales1':np.round(generator.normal(loc=750, scale=20, size=10), 2),
    'sales2':np.round(generator.normal(loc=650, scale=40, size=10), 2),
    'members':generator.integers(low=20, high=25, size=10)
})
sales.loc[sales.store_id == 2, 'sales1'] = np.nan
sales.loc[sales.store_id == 1, 'sales2'] = np.nan

print(sales)
```

The result after generate the data.
```
#         date  store_id  sales1  sales2  members
# 0 2020-01-01         1  737.54     NaN       22
# 1 2020-01-01         2     NaN  629.00       20
# 2 2020-01-02         1  750.75     NaN       23
# 3 2020-01-02         2     NaN  699.01       22
# 4 2020-01-03         1  750.60     NaN       20
# 5 2020-01-03         2     NaN  640.20       24
# 6 2020-01-04         1  752.65     NaN       21
# 7 2020-01-04         2     NaN  695.64       22
# 8 2020-01-05         1  747.02     NaN       20
# 9 2020-01-05         2     NaN  632.40       22
```

Reshape it into a DataFrame like this


```
#               sales_1  sales_2  members_1  members_2
# date
# 2020-01-01    737.54    629.00         22         20
# 2020-01-02    750.75    699.01         23         22
# 2020-01-03    750.60    640.20         20         24
# 2020-01-04    752.65    695.64         21         22
# 2020-01-05    747.02    632.40         20         22
```

In [151]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import numpy as np
import pandas as pd

In [152]:
generator = np.random.default_rng(314)
sales = pd.DataFrame({
'date':pd.date_range(start = '2020-01-01', periods=5).repeat(2),
'store_id':np.tile([1,2], 5),
'sales1':np.round(generator.normal(loc=750, scale=20, size=10), 2),
'sales2':np.round(generator.normal(loc=650, scale=40, size=10), 2),
'members':generator.integers(low=20, high=25, size=10)
})
sales.loc[sales.store_id == 2, 'sales1'] = np.nan
sales.loc[sales.store_id == 1, 'sales2'] = np.nan
#display original dataframe
print(sales)

        date  store_id  sales1  sales2  members
0 2020-01-01         1  737.54     NaN       22
1 2020-01-01         2     NaN  629.00       20
2 2020-01-02         1  750.75     NaN       23
3 2020-01-02         2     NaN  699.01       22
4 2020-01-03         1  750.60     NaN       20
5 2020-01-03         2     NaN  640.20       24
6 2020-01-04         1  752.65     NaN       21
7 2020-01-04         2     NaN  695.64       22
8 2020-01-05         1  747.02     NaN       20
9 2020-01-05         2     NaN  632.40       22

In [154]:
# Reshape the DataFrame
reshaped_sales = pd.pivot_table(sales,
index='date',
columns='store_id',
values=['sales1', 'sales2', 'members'],
aggfunc='mean')
reshaped_sales.columns = [f'{col}_{col_id}' for col, col_id in reshaped_sales.columns]
reshaped_sales = reshaped_sales[['sales1_1', 'sales2_2', 'members_1','members_2']]
# Display the result
print(reshaped_sales)

            sales1_1  sales2_2  members_1  members_2
date
2020-01-01    737.54    629.00         22         20
2020-01-02    750.75    699.01         23         22
2020-01-03    750.60    640.20         20         24
2020-01-04    752.65    695.64         21         22
2020-01-05    747.02    632.40         20         22

In [155]:
#select date column
date=sales['date']
date

0   2020-01-01
1   2020-01-01
2   2020-01-02
3   2020-01-02
4   2020-01-03
5   2020-01-03
6   2020-01-04
7   2020-01-04
8   2020-01-05
9   2020-01-05
Name: date, dtype: datetime64[ns]

In [156]:
#select member column
m1=reshaped_sales['members_1']
print(m1)

date
2020-01-01    22
2020-01-02    23
2020-01-03    20
2020-01-04    21
2020-01-05    20
Name: members_1, dtype: int64

In [157]:
#select member column
m2=reshaped_sales['members_2']
print(m2)

date
2020-01-01    20
2020-01-02    22
2020-01-03    24
2020-01-04    22
2020-01-05    22
Name: members_2, dtype: int64

In [158]:
#select sales1 column
s1 = sales.dropna(subset=['sales1']) ['sales1']
s1

0    737.54
2    750.75
4    750.60
6    752.65
8    747.02
Name: sales1, dtype: float64

In [159]:
#select sales2 column
s2 = sales.dropna(subset=['sales2']) ['sales2']
s2

1    629.00
3    699.01
5    640.20
7    695.64
9    632.40
Name: sales2, dtype: float64

In [160]:
#rearange dataframe
reshaped_sales

            sales1_1  sales2_2  members_1  members_2
date
2020-01-01    737.54    629.00         22         20
2020-01-02    750.75    699.01         23         22
2020-01-03    750.60    640.20         20         24
2020-01-04    752.65    695.64         21         22
2020-01-05    747.02    632.40         20         22

##Question 5
You polled five heterosexual couples on their hobbies.

Given data
```
couples = pd.DataFrame({
    'man': [
        ['fishing', 'biking', 'reading'],
        ['hunting', 'mudding', 'fishing'],
        ['reading', 'movies', 'running'],
        ['running', 'reading', 'biking', 'mudding'],
        ['movies', 'reading', 'yodeling']
    ],
    'woman': [
        ['biking', 'reading', 'movies'],
        ['fishing', 'drinking'],
        ['knitting', 'reading'],
        ['running', 'biking', 'fishing', 'movies'],
        ['movies']
    ]
})

print(couples)
```

For each couple, determine what hobbies each man has that his wife doesn’t and what hobbies each woman has that her husband doesn’t.

In [41]:
#import pandas and numpy libraries and name it to be pd and np, respectively.
import numpy as np
import pandas as pd

In [59]:
#create dataframe
couples = pd.DataFrame({
    'man': [
        ['fishing', 'biking', 'reading'],
        ['hunting', 'mudding', 'fishing'],
        ['reading', 'movies', 'running'],
        ['running', 'reading', 'biking', 'mudding'],
        ['movies', 'reading', 'yodeling']
    ],
    'woman': [
        ['biking', 'reading', 'movies'],
        ['fishing', 'drinking'],
        ['knitting', 'reading'],
        ['running', 'biking', 'fishing', 'movies'],
        ['movies']
    ]
})
#display original dataframe
print(couples)

                                   man                               woman
0           [fishing, biking, reading]           [biking, reading, movies]
1          [hunting, mudding, fishing]                 [fishing, drinking]
2           [reading, movies, running]                 [knitting, reading]
3  [running, reading, biking, mudding]  [running, biking, fishing, movies]
4          [movies, reading, yodeling]                            [movies]

In [74]:
#create man array in numpy format
man_array = np.array(couples['man'])
#display result
man_array

array([list(['fishing', 'biking', 'reading']),
       list(['hunting', 'mudding', 'fishing']),
       list(['reading', 'movies', 'running']),
       list(['running', 'reading', 'biking', 'mudding']),
       list(['movies', 'reading', 'yodeling'])], dtype=object)

In [72]:
#check total element in array
total_elements_man = sum(len(x) for x in man_array)
#check shape

print(total_elements_man,"\n",np.shape(man_array))

16
 (5,)

In [76]:
#create woman array in numpy format
woman_array = np.array(couples['woman'])


#display result
woman_array

array([list(['biking', 'reading', 'movies']),
       list(['fishing', 'drinking']), list(['knitting', 'reading']),
       list(['running', 'biking', 'fishing', 'movies']), list(['movies'])],
      dtype=object)

In [78]:
#check total element in array
total_elements_women = sum(len(y) for y in woman_array)

#display result
print(total_elements_women,"\n",np.shape(woman_array))

12
 (5,)

In [99]:
#create 1D array for man
man_1d_array = np.concatenate(man_array)

#check number of element
numman= (len(man_1d_array))
#check unique of array
unique_elements, counts = np.unique(man_1d_array, return_counts=True)


#display result
print("man_1d_array:",man_1d_array,"\n")
print("Number of element:",numman,"\n")
print(unique_elements,",",counts)

man_1d_array: ['fishing' 'biking' 'reading' 'hunting' 'mudding' 'fishing' 'reading'
 'movies' 'running' 'running' 'reading' 'biking' 'mudding' 'movies'
 'reading' 'yodeling']

Number of element: 16

['biking' 'fishing' 'hunting' 'movies' 'mudding' 'reading' 'running'
 'yodeling'] , [2 2 1 2 2 4 2 1]

In [101]:
#create 1D array for woman
woman_1d_array = np.concatenate(woman_array)

#check number of element
numwoman= (len(woman_1d_array))
#check unique of array
unique_elements2, counts2 = np.unique(woman_1d_array, return_counts=True)

#displa result
print("woman_1d_array:",woman_1d_array,"\n")
print("Number of element:",numwoman,"\n")
print(unique_elements2,",",counts2)

woman_1d_array: ['biking' 'reading' 'movies' 'fishing' 'drinking' 'knitting' 'reading'
 'running' 'biking' 'fishing' 'movies' 'movies']

Number of element: 12

['biking' 'drinking' 'fishing' 'knitting' 'movies' 'reading' 'running'] , [2 1 2 1 3 2 1]

In [105]:
#create series with unique value of con_man array
rMan = pd.Series(unique_elements)

#display result
rMan

0      biking
1     fishing
2     hunting
3      movies
4     mudding
5     reading
6     running
7    yodeling
dtype: object

In [104]:
#create series with unique value of con_woman array
rWoman = pd.Series(unique_elements2)

#display result
rWoman

0      biking
1    drinking
2     fishing
3    knitting
4      movies
5     reading
6     running
dtype: object

In [107]:
#check the activities that man do and woman not do
result_man = rMan.isin(rWoman)
activities_man = rMan[~result_man]
#display the activities that man do and woman not do
print(result_man)
print(activities_man)

0     True
1     True
2    False
3     True
4    False
5     True
6     True
7    False
dtype: bool
2     hunting
4     mudding
7    yodeling
dtype: object

In [108]:
#check the activities that woman do and man not do
result_woman = rWoman.isin(rMan)
activities_woman = rWoman[~result_woman]
#display the activities that woman do and man not do
print(result_woman)
print(activities_woman)

0     True
1    False
2     True
3    False
4     True
5     True
6     True
dtype: bool
1    drinking
3    knitting
dtype: object